{% extends "layout.html" %}
{% block title %}Exercises{% endblock %}
{% block page %}Exercises{% endblock %}
<li class="search icon">
    <input type="search" placeholder="Search">
</li>
{{ super() }}

{% block content %}
   <h1>Exercise list is as follows:</h1>
<table>
    <thead>
        <th>Exercise Name</th>
        <th>Difficulty</th>
        <th>Description</th>
        <th>Equipment</th>
        <th>Primary muscle affected</th>
        <th>Secondary muscle affected</th>
    </thead>
    <tbody>
        {% if option==2 %}
            {% for row in exerciseList %}
                <tr>
                    <td>{{row.name}}</td>
                    <td>{{row.difficulty}}</td>
                    <td>{{row.description}}</td>
                    <td>
                        {% if row.equipment == 'null' %}
                            {{"-"}}
                        {% else %}
                            {{row.equipment}}
                        {% endif %}
                    </td>
                    <td>{{row.primary_muscle}}</td>
                    <td>
                        {% if row.secondary_muscle == 'null' %}
                            {{"-"}}
                        {% else %}
                            {{row.secondary_muscle}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% elif option==1 %}
            <tr>
                    <td>{{exerciseList.name}}</td>
                    <td>{{exerciseList.difficulty}}</td>
                    <td>{{exerciseList.description}}</td>
                    <td>
                        {% if exerciseList.equipment == 'null' %}
                            {{"-"}}
                        {% else %}
                            {{exerciseList.equipment}}
                        {% endif %}
                    </td>
                    <td>{{exerciseList.primary_muscle}}</td>
                    <td>
                        {% if exerciseList.secondary_muscle == 'null' %}
                            {{"-"}}
                        {% else %}
                            {{exerciseList.secondary_muscle}}
                        {% endif %}
                    </td>
                </tr>
        {% else %}
            <h2>Exercise was not found, please try again.</h2>
        {% endif %}
    </tbody>
</table>

{% endblock %}